*{
    margin: 0px;
}
.bgblack{
    background-color: #0a0b27;
}



.fr-img{

height: 700px;
width: 100%;
background-position:center ;
background-size: cover;

}
.m-box{
    display: flex;
width: 100%;
height: 1370px ;
background-color: #000000;
max-width: 100;
}
.orange-box{
display: flex;
justify-content: center;
align-items: center;
    width: 50%;
    height: 1370px;
    background-color: rgb(240, 145, 48);
}
.white-box{
    width: 50%;
    height:  1370px;
    background-color:#fff;
}
.para{
   
    margin-top: 30px;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 25px;
}

.ftr{
    margin-top: 30px;
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
}
.dtl{
    font-size: 12px;
}
@media (max-width:600px){
    .fr-img{
    height: 300px;
    }
}
.txt-st{
    font-family:EksellDisplayWeb-Small;
font-weight: bolder;
    color: white;
}